<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:left;">
    <h5><i>13541019 Mehmet Akif MÜJDE</i></h5>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right;">
    
    <% if I18n.locale.to_s == "en" %>
        <a href="?locale=tr" data-toggle="tooltip" data-placement="top" title="TR">
            <img src="https://orig00.deviantart.net/50c3/f/2010/133/e/2/turkish_map_flag_by_aydeezy.png" width="50" height="30">
        </a>
    <% else %>
      <a href="?locale=en" data-toggle="tooltip" data-placement="top" title="EN">
          <img src="https://qph.ec.quoracdn.net/main-qimg-d8eb70a860f256af252740a30ed41cf7" width="30" height="20">
      </a>
    <% end %>
</div>

